################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll
*.pdb
/Framework/bin/Debug
/Framework/bin/Debug/Framework.pdb
*.cache
*.txt
*.cache
*.txt
*.cache
*.txt
